<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.21.9" targetFramework="net48" />
  <package id="K4os.Compression.LZ4" version="1.3.5" targetFramework="net48" />
  <package id="K4os.Compression.LZ4.Streams" version="1.3.5" targetFramework="net48" />
  <package id="K4os.Hash.xxHash" version="1.0.8" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net48" />
  <package id="MySql.Data" version="8.0.33" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net48" />
  <package id="Reddit" version="1.5.2" targetFramework="net48" />
  <package id="Reddit.AuthTokenRetrieverLib" version="1.5.2" targetFramework="net48" />
  <package id="RestSharp" version="106.6.9" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="5.0.2" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="uhttpsharp.Standard" version="8.0.30703.1" targetFramework="net48" />
</packages>